.cache
.cargo
.config/nvm/
.config/antimicrox
.config/dconf
.config/equibop
.config/kde.org
.config/libreoffice
.config/session
.config/teams-for-linux/
.config/Thunar
.config/tidal-hifi
.config/unity3d
.config/VirtualBox
.config/VSCodium
.config/qBittorrent
.config/QtProject
.electron-gyp/
.factorio/
.fehbg
.gnupg/
.gtkrc-2.0
.java/
.local/share/applications
.local/share/baloo
.local/share/clipman.json
.local/share/DavinciResolve
.local/share/dolphin
.local/share/flatpak
.local/share/gegl-0.4
.local/share/gvfs-metadata
.local/share/hyprland
.local/share/kpeoplevcard
.local/share/Larian Studios/
.local/share/mime
.local/share/nvim
.local/share/qBittorrent
.local/share/recently-used.xbel
.local/share/Steam
.local/share/Trash
.local/share/user-places.xbel
.local/share/user-places.xbel.bak
.local/share/user-places.xbel.tbcache
.local/share/vulkan
.local/state
.netbeans
.npm
.npmrc
.nv
.oh-my-zsh
.pki
.pulse-cookie
.ssh
.steam
.steampath
.steampid
.thunderbird
.vscode-oss
.wget-hsts
.zcompdump-choungion-5.9
.zcompdump-choungion-5.9.zwc
.zen
.zsh
Desktop
Documents
Downloads
Pictures/Screenshots
