.cache
.cargo
.config/nvm/
.config/antimicrox
.config/BetterDiscord
.config/btop
.config/caelestia
.config/cava
.config/dconf
.config/equibop
.config/Equicord
.config/fuzzel
.config/go/telemetry
.config/kde.org
.config/legcord
.config/libreoffice
.config/nix
.config/session
.config/teams-for-linux/
.config/Thunar
.config/tidal-hifi
.config/unity3d
.config/Vencord/
.config/vesktop/
.config/VirtualBox
.config/VSCodium
.config/qBittorrent
.config/QtProject
.config/qt5ct/colors/
.config/qt6ct/colors/
.config/spicetify/
.config/xfce4/
.electron-gyp/
.env/
.factorio/
.fehbg
.gnupg/
.gtkrc-2.0
.java/
.local/share/applications
.local/share/baloo
.local/share/clipman.json
.local/share/CMakeTools/
.local/share/DavinciResolve
.local/share/dolphin
.local/share/flatpak
.local/share/gegl-0.4
.local/share/gvfs-metadata
.local/share/hyprland
.local/share/kpeoplevcard
.local/share/Larian Studios/
.local/share/mime
.local/share/nvim
.local/share/pnpm/
.local/share/qBittorrent
.local/share/qmlls/
.local/share/recently-used.xbel
.local/share/Steam
.local/share/TauonMusicBox/
.local/share/Trash
.local/share/user-places.xbel
.local/share/user-places.xbel.bak
.local/share/user-places.xbel.tbcache
.local/share/vulkan
.local/share/warp-terminal/
.local/state
.netbeans
.npm
.npmrc
.nv
.oh-my-zsh
.pki
.pulse-cookie
.python_history
.ssh
.steam
.steampath
.steampid
.thunderbird
.vscode-oss
.wget-hsts
.zcompdump-choungion-5.9
.zcompdump-choungion-5.9.zwc
.zen
.zsh
Desktop
Documents
Downloads
Pictures/Screenshots
Pictures/U
Videos

